<section class="footer">
  <h2 class="text-center txt-color">Bizi Takip Edin</h2>
  <div class="footer-social-icons">
    <a href="#">
      <img src="./assets/images/footer/facebook-icon.svg" alt="Facebook" srcset="">
    </a>
    <a href="#">
      <img src="./assets/images/footer/facebook-icon.svg" alt="Facebook" srcset="">
    </a>
    <a href="#">
      <img src="./assets/images/footer/twitter-icon.svg" alt="Twitter" srcset="">
    </a>
    <a href="#">
      <img src="./assets/images/footer/linkedin-icon.svg" alt="Linkedin" srcset="">
    </a>
    <a href="#">
      <img src="./assets/images/footer/youtube-icon.svg" alt="Youtube" srcset="">
    </a>
  </div>
  <div class="footer-copyright">
    <span class="txt-color">Satoshi Tv by BtcTurk</span>
  </div>
</section>
