<section class="section hero ">
  <img src="./assets/images/hero/hero-background.svg" class="hero-background-img">
  <div class="hero-overlay"></div>
  <div class="hero-content">
    <span class="hero-content-txt-first txt-bold">{{'hero.new-generation' |translate}}</span>
    <span class="hero-content-txt-second hero-content-txt-color-orange txt-bold">{{'hero.digital-television'
      |translate}}</span>
    <span class="hero-content-txt-style">{{'hero.information' |translate}}</span>
    <span class="hero-content-txt-third txt-bold">{{'hero.satoshi-info' |translate}}</span>
  </div>
  <div class="hero-visit-channel">
    <button class="btn-orange btn-bg-color btn-color txt-bold" (click)="onOpenGithub()">{{'hero.visit-channel'
      |translate}}</button>
  </div>
</section>
